/build
/bin
/target
.classpath
.project
.settings
/test-output/
.DS_Store
.springBeans
data
.idea
*.ipr
*.iml
.acs-service-copy.jar
api/target/
samples/spring-mvc-api/target/
service/pom.xml.versionsBackup
pom.xml.versionsBackup
model/pom.xml.versionsBackup
commons/pom.xml.versionsBackup
*~
