<?xml version="1.0" encoding="UTF-8"?>
<!--
    Copyright 2016 General Electric Company. 
   
    Licensed under the Apache License, Version 2.0 (the "License"); 
    you may not use this file except in compliance with the License. 
    You may obtain a copy of the License at
   
    http://www.apache.org/licenses/LICENSE-2.0
   
    Unless required by applicable law or agreed to in writing, software 
    distributed under the License is distributed on an "AS IS" BASIS, 
    WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied. 
    See the License for the specific language governing permissions and 
    limitations under the License.
 -->

<!DOCTYPE xml>
<configuration>

    <appender name="acsAppender" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>[Z:%X{Zone-Id} C:%X{Correlation-Id}] %date{YYYY-MM-dd HH:mm:ss} %level [%thread] %logger{10} [%file:%line] %msg%n</pattern>
        </encoder>
    </appender>

    <logger name="java" level="WARN" />

    <logger name="org.springframework.security" level="INFO" />

    <logger name="org.flywaydb.core.internal.dbsupport" level="WARN" />

    <!-- Quiet down verbose loggers. These log verbose at INFO level -->
    <logger
        name="org.springframework.web.servlet.mvc.method.annotation.RequestMappingHandlerMapping"
        level="ERROR" />
    <logger
        name="org.springframework.boot.actuate.endpoint.mvc.EndpointHandlerMapping"
        level="ERROR" />
    <logger
        name="org.springframework.boot.actuate.endpoint.mvc.FilterRegistrationBean"
        level="ERROR" />
    <logger
        name="org.springframework.security.config.http.FilterInvocationSecurityMetadataSourceParser"
        level="ERROR" />
    <logger name="springfox.documentation" level="ERROR" />

    <!-- Note: There is severe performance penalty for turning on DEBUG messages during policy evaluation. Limit
         use for development. -->
    <logger name="com.ge.predix.acs" level="INFO" additivity="false">
        <appender-ref ref="acsAppender" />
    </logger>

    <root level="INFO">
        <appender-ref ref="acsAppender" />
    </root>

</configuration>
