<?xml version="1.0" encoding="UTF-8"?>
<!--
    Copyright 2016 General Electric Company. 
   
    Licensed under the Apache License, Version 2.0 (the "License"); 
    you may not use this file except in compliance with the License. 
    You may obtain a copy of the License at
   
    http://www.apache.org/licenses/LICENSE-2.0
   
    Unless required by applicable law or agreed to in writing, software 
    distributed under the License is distributed on an "AS IS" BASIS, 
    WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied. 
    See the License for the specific language governing permissions and 
    limitations under the License.
 -->

<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<!-- Introducing logback.xml for acs-int-tests package. Adding log level 
    control for class ResourceOwnerPasswordAccessTokenProvider to avoid printing 
    password details in log file -->
<log4j:configuration debug="true"
    xmlns:log4j='http://jakarta.apache.org/log4j/'>
    <appender name="console" class="org.apache.log4j.ConsoleAppender">
        <layout class="org.apache.log4j.PatternLayout">
        <param name="ConversionPattern" value="%date{YYYY-MM-dd HH:mm:ss} %p [%t] %c{2} [%F:%L] %msg%n"/>
        </layout>
    </appender>

    <logger name="java">
        <level value="warn" />
    </logger>

    <!-- To avoid printing UAA password credentials info in log file, changing 
        the log level for the following class to INFO. -->
    <!--     <logger
        name="org.springframework.security.oauth2.client.token.grant.password.ResourceOwnerPasswordAccessTokenProvider"
        level="INFO" /> -->

    <logger name="org.springframework.security">
        <level value ="info" />
    </logger>

    <logger name="com.ge.predix">
        <level value ="debug" />
    </logger>

    <logger name="org.apache.http.wire">
        <level value ="debug" />
    </logger>

    <logger name="http.wire">
        <level value ="debug" />
    </logger>


    <root>
        <level value = "INFO" />
        <appender-ref ref="console" />
    </root>

</configuration>
